<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/0080c1af9b.js"></script>
  </head>
  <body>
    <div class="card">
      <div class="card-header row m-0 bg-white">
        <h3 class="col-10 m-0 p-0"><%= title %></h3>
        <button id="add-btn" type="button" class="btn p-0 btn-trans col-1">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn p-0 btn-trans col-1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <table class="table table-hover text-center p-0 m-0">
        <thead class="thead-inverse">
          <tr>
              <th class="check">
                <input id="check-all" type="checkbox" name="check-all" class="check-box"/>
                <label for="check-all"></label>
              </th>
              <th>thing</th>
              <th>due</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td class="check">
                  <input id="check<%= i %>" name="check" type="checkbox" class="check-box" />
                  <label for="check<%= i %>"></label>
                </td>
                <td>
                  <%= data[i].thing  %>
                </td>
                <td>
                  <%= data[i].due  %>
                </td>
                <td>
                  <button type="button" class="btn p-0 btn-trans" onclick="Edit('<%= data[i].id  %>', '<%= data[i].thing  %>', '<%= data[i].due  %>');">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn text-danger p-0 btn-trans" onclick="Delete('<%= data[i].id  %>');">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    
  <div id="cover">
    <div id="add-block" class="container form-block">
      <button id="clz-btn-1" type="button" class="btn text-danger p-0 btn-trans btn-clz" onclick="hideAll()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <h4 class="card-title">add a new task</h4>
      <form id="add-form" action="/add" name="add-a-new" method="post">
        <div class="form-group row w-100">
          <label for="thing" class="col-3 form-label">thing</label>
          <input id="add-thing" type="text" name="thing" class="form-control col-9"/>
        </div>
        <div class="form-group row w-100">
          <label for="due" class="col-3 form-label">due</label>
          <input id="add-due" type="datetime-local" name="due" class="form-control col-9"/>
        </div>
        <button type="submit" class="block-btn">submit</button>
        <button type="reset" class="block-btn">reset</button>
      </form>
    </div>

    <div id="edit-block" class="container form-block">
      <button id="clz-btn-2" type="button" class="btn text-danger p-0 btn-trans btn-clz" onclick="hideAll()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <h4 class="card-title">edit</h4>
      <form id="edit-form" action="/edit" name="edit-item" method="put">
        <div class="form-group row w-100">
          <label for="thing" class="col-3 form-label">thing</label>
          <input id="edit-thing" type="text" name="thing" class="form-control col-9"/>
        </div>
        <div class="form-group row w-100">
          <label for="due" class="col-3 form-label">due</label>
          <input id="edit-due" type="datetime-local" name="due" class="form-control col-9"/>
        </div>
        <div class="form-group row w-100">
          <input id="edit-id" type="hidden" name="id" class="form-control col-9"/>
        </div>
        <button type="submit" class="block-btn">submit</button>
        <button type="reset" class="block-btn" >reset</button>
      </form>
    </div>

    <div id="del-block" class="container form-block">
      <h4 class="card-title pt-3 pb-3">Are you sure?</h4>
      <div class="vertical-align">
        <button id="yes" type="button" class="block-btn">yes</button>
        <button id="no" type="button" class="block-btn" onclick="hideAll()">no</button>
      </div>
    </div>
  </div>
  <script>
    $('#add-btn').click(function() {
      $('#add-block').show();
      $('#cover').show();
    });

    function hideAll() {
      $('#edit-block').hide();
      $('#add-block').hide();
      $('#del-block').hide();
      $('#cover').hide();
    }

    function Edit(id, thing, due) {
      $('#edit-block').show();
      $('#cover').show();
      
      due = due.replace(/\s+/g, "T");

      $('#edit-id').val(id);
      $('#edit-thing').val(thing);
      $('#edit-due').val(due);
    }

    $('#edit-form').submit(function(e) {
      console.log($(this).serialize());
      e.preventDefault();
      var data = {thing: $('#edit-thing').val(), due:$('#edit-due').val()};
      
      $.ajax({
        url: "edit/"+$('#edit-id').val(),
        type: 'PUT',
        data: data,
        success: function(data) {
          location.reload();
        }
      });

      $('#edit-block').hide();
      $('#cover').hide();
    });

    function Delete(id) {
      $('#del-block').show();
      $('#cover').show();
      
      $('#yes').click(function() {
        console.log(id);
        $.ajax({
          url: "delete/"+id,
          type: 'DELETE',
          success: function(data) {
            location.reload();
          }
        });
        hideAll();
      });
    }

    $('#check-all').click(function() {
      if($("#check-all").prop("checked")) {
        $("input[name='check']").prop("checked", true);
      }
      else {
        $("input[name='check']").prop("checked", false);
      }
    });
  </script>
  </body>
</html>
